*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.conteiner{
    width: 50%;
    height:100vh;
    margin: auto;  
}
img{
    height: 88%;
} 
.levis{
    margin-right:10px;
    float: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 45%;
}
.heart{
    position: absolute;
    top: 2%;
    right: 0%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 9px;
}
.box{
    color: white;
    bottom: 20%;
    padding: 2px 6px 2px 6px; 
}
.sconto{ 
    position: absolute;
    background-color: red;
}
.ecosostenibile{
    position: absolute;
    left: 22%;
    background-color: rgb(49, 66, 49);
}
.special{
    left: 0%;
}
.price{
    display: inline-block;
    color: red;
}
.old{
    color: grey;
    text-decoration: line-through;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
.heart:hover .heart{
    color:red;
}
.levis:hover #Img1{
  content: url("img/1b.webp");
  height: 88%;
}
.levis:hover #Img2{
    content: url("img/2b.webp");
    height: 88%;
  }
  .levis:hover #Img3{
    content: url("img/3b.webp");
    height: 88%;
  }
  .levis:hover #Img4{
    content: url("img/4b.webp");
    height: 88%;
  }
  .levis:hover #Img5{
    content: url("img/5b.webp");
    height: 88%;
  }
  .levis:hover #Img6{
    content: url("img/6b.webp");
    height: 88%;
  }
  

